<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ihuafu.design.modular.dwb.mapper.mapping">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ihuafu.design.modular.dwb.entity.DesignRecord">

    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS "id", company_id AS "companyId", name_full AS "nameFull", name_en AS "nameEn", code AS "code", industry_id AS "industryId", city_id AS "cityId", parent_id AS "parentId", cs_code AS "csCode", main_code AS "mainCode", inner_comp_code AS "innerCompCode", inner_dep_code AS "innerDepCode", scac AS "scac", iata AS "iata"
    </sql>

    <select id="customPageList" resultType="com.senyou.smart.manager.modular.ct.model.result.CtResult"
            parameterType="com.senyou.smart.manager.modular.ct.model.params.CtParam">
        select
        <include refid="Base_Column_List"/>
        from ct where 1 = 1
        <if test="paramCondition.id != null and paramCondition.id != 0">
            and id = #{paramCondition.id}
        </if>
        <if test="paramCondition.companyId != null and paramCondition.companyId != 0">
            and company_id = #{paramCondition.companyId}
        </if>
        <if test="paramCondition.nameFull != null and paramCondition.nameFull != ''">
            and name_full like concat('%',#{paramCondition.nameFull},'%')
        </if>
        <if test="paramCondition.nameEn != null and paramCondition.nameEn != ''">
            and name_en like concat('%',#{paramCondition.nameEn},'%')
        </if>
        <if test="paramCondition.code != null and paramCondition.code != ''">
            and code like concat('%',#{paramCondition.code},'%')
        </if>
        <if test="paramCondition.industryId != null and paramCondition.industryId != 0">
            and industry_id = #{paramCondition.industryId}
        </if>
        <if test="paramCondition.cityId != null and paramCondition.cityId != 0">
            and city_id = #{paramCondition.cityId}
        </if>
        <if test="paramCondition.parentId != null and paramCondition.parentId != 0">
            and parent_id = #{paramCondition.parentId}
        </if>
        <if test="paramCondition.csCode != null and paramCondition.csCode != ''">
            and cs_code like concat('%',#{paramCondition.csCode},'%')
        </if>
        <if test="paramCondition.mainCode != null and paramCondition.mainCode != ''">
            and main_code like concat('%',#{paramCondition.mainCode},'%')
        </if>
        <if test="paramCondition.innerCompCode != null and paramCondition.innerCompCode != ''">
            and inner_comp_code like concat('%',#{paramCondition.innerCompCode},'%')
        </if>
        <if test="paramCondition.innerDepCode != null and paramCondition.innerDepCode != ''">
            and inner_dep_code like concat('%',#{paramCondition.innerDepCode},'%')
        </if>
        <if test="paramCondition.scac != null and paramCondition.scac != ''">
            and scac like concat('%',#{paramCondition.scac},'%')
        </if>
        <if test="paramCondition.iata != null and paramCondition.iata != ''">
            and iata like concat('%',#{paramCondition.iata},'%')
        </if>
    </select>

    <!--根据关键字分页查询客商列表-->
    <select id="findPageByKeyword" resultType="com.senyou.smart.manager.modular.ct.model.result.CtResult">
        select
        <include refid="Base_Column_List"/>
        from ct where name_full like concat('%',#{keyword},'%') or name_en like concat('%',#{keyword},'%')
    </select>

    <!--根据关键字判断客商是否存在-->
    <select id="checkExist" resultType="java.lang.Boolean">
        select count(id) > 0
        from ct
        where name_full = #{nameFull}
           or name_en = #{nameEn}
    </select>

    <select id="getCtByName" resultType="com.senyou.smart.manager.modular.ct.entity.Ct">
        select *
        from ct
        where name_full = #{nameFull}
           or name_en = #{nameEn}
    </select>
</mapper>
